<div class="mainbody">
  <div class="d-flex justify-content-between align-items-center">
    <span class="grey-inter-bold-24 schedule-title "> ASSETS </span>
  </div>



<div class="a">
<a routerLink="/hostel/assets/addasset/0"> <button class="btn btn-primary">Add</button></a>
</div><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Asset_No</th>
      <th scope="col">Asset_name</th>
      <th scope="col">Asset_type</th>
      <th scope="col">Description</th>
      <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datas1">
      <th scope="row">{{item.id}}</th>
      <td>{{item.Asset_name}}</td>
      <td>{{item.Asset_type}}</td>
      <td>{{item.Description}}</td>
        <!-- <td><button type="button" (click)="update(item.id)">Edit</button></td> -->
        <td> <a routerLink="/hostel/assets/addasset/{{item.id}}"><button>Edit</button></a> <button>Delete</button></td>

      </tr>
  </tbody>
</table>
</div>