.a{
    display: flex;
    margin-left: 500px;
    margin-top: 40px;
}
.b{
    margin-left: 20px;
}
.hr{
    
   
    width: 70%;
   
    margin-left: 200px;
    color: black; 
    
}
.head{
    text-align: center;
    color: gray;
}
.active {
    background-color:  #f2f2ff;
}