<!-- <form class="row g-3" [formGroup]="registrationForm" (ngSubmit)="onsub()"> -->
    <!-- <form class="row g-3">
    <div class="head">
    <h2><u>STUDENT DETAILS</u></h2>
</div>
<br>
    
    <div class="a">

        <div >
  
      <label for="validationDefault01" class="form-label">Register No</label>
      <input type="number" class="form-control" formControlName="Register_no"  required>
   \
      <label for="validationDefault02" class="form-label">Student name</label>
      <input type="text" class="form-control" formControlName="Student_name"  required>
    
    <label for="validationDefault04" class="form-label">Gender</label>
        <select class="form-select" formControlName="Gender" required>
          <mat-option  value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Others">Others</mat-option>
        </select>
   
      <label for="validationDefault03" class="form-label">Admission date</label>
      <input type="date" class="form-control" formControlName="Admission_date" required>
   
        <label for="validationDefault04" class="form-label">Religion</label>
        <select class="form-select" formControlName="Religion" required>
          <mat-option  value="ISLAM">ISLAM</mat-option>
          <mat-option value="HINDU">HINDU</mat-option>
          <mat-option value="CHRISTIAN">CHRISTIAN</mat-option>
        </select>
     
        <label for="validationDefault04" class="form-label">Category</label>
        <select class="form-select" formControlName="Category" required>
          <mat-option  value="SC">SC</mat-option>
          <mat-option value="GENERAL">GENERAL</mat-option>
          <mat-option value="OBC">OBC</mat-option>
        </select>

        <label for="validationDefault04" class="form-label">Id proof type</label>
        <select class="form-select" formControlName="id_proof_type" required>
          <mat-option  value="Aadhar">aadhar</mat-option>
          <mat-option value="License">License</mat-option>
          <mat-option value="Passport">Passport</mat-option>
          <mat-option value="VoterId">Voter Id</mat-option>
        </select>
      
        <br>
        <div class="form-check">
            <label>Mess status</label>
          <input class="form-check-input" type="checkbox" value="" formControlName="Mess_status"  required>
          <label class="form-check-label" for="invalidCheck2">
            Tick if mess included?
          </label>
        </div>
    
    </div>
    <br>

    <div class="b">
        <label for="validationDefault04" class="form-label">Current Class/Department</label>
        <select class="form-select" formControlName="Current_Class/Department" required>
          <mat-option  value="First year - B TECH">First year - B TECH</mat-option>
          <mat-option value="Second year - B TECH">Second year - B TECH</mat-option>
          <mat-option  value="Third year - B TECH">Third year - B TECH</mat-option>
          <mat-option  value="Fourth year - B TECH">Fourth year - B TECH</mat-option>
          <mat-option value="First year - MCA">First year - MCA</mat-option>
          <mat-option value="Second year - MCA">Second year - MCA</mat-option>
        </select>
      
        <label for="validationDefault02" class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="Email"  required>

        <label for="validationDefault04" class="form-label">Blood Group</label>
        <select class="form-select" formControlName="Blood_Group" required>
          <mat-option  value="A+">A+</mat-option>
          <mat-option value="AB+">AB+</mat-option>
          <mat-option value="A-">A-</mat-option>
          <mat-option  value="AB-">AB-</mat-option>
          <mat-option value="B+">B+</mat-option>
          <mat-option value="B-">B-</mat-option>
          <mat-option value="O+">O+</mat-option>
          <mat-option value="O-">O-</mat-option>
        </select>
      
        <label for="validationDefault03" class="form-label">date of birth</label>
        <input type="date" class="form-control" formControlName="date_of_birth" required>
      

      <label for="validationDefault03" class="form-label">Contact number</label>
        <input type="number" class="form-control" formControlName="c_number" required>

        <label for="validationDefault03" class="form-label">Student photo</label>
        <input type="file" class="form-control" formControlName="photo" required>

        <label for="validationDefault03" class="form-label">Id proof photo</label>
        <input type="file" class="form-control" formControlName="id_photo" required>

    </div>

      <br><br>
    </div>
    

    <hr class="hr">

    <div class="head">
        <h2><u>STUDENT ADDRESS</u></h2>
    </div>
    <br>
<div class="a">
    <div >
        <label for="validationDefault02" class="form-label">Father name</label>
        <input type="text" class="form-control" formControlName="Father_name"  required>

        <label for="validationDefault02" class="form-label">Mother name</label>
        <input type="text" class="form-control" formControlName="Mother_name"  required>

        <label for="validationDefault02" class="form-label">Guardian name</label>
        <input type="text" class="form-control" formControlName="Guardian_name"  required>

        <label for="validationDefault02" class="form-label">Guardian contact number</label>
        <input type="number" class="form-control" formControlName="Guardian_contact_no"  required>
    </div>


<div class="b">
  <label for="validationDefault02" class="form-label">Occupation</label>
        <input type="text" class="form-control" formControlName="Occupation"  required>

          <label for="validationDefault02" class="form-label">Address</label>
          <input type="" class="form-control" formControlName="Address"  required>
          <input type="text" class="form-control" formControlName="street" placeholder="Street">
          <input type="text" class="form-control" formControlName="city" placeholder="City">
          <input type="text" class="form-control" formControlName="state" placeholder="State">
          <input type="text" class="form-control" formControlName="PIN" placeholder="PIN">
        

</div>
</div>

<div class="head">
  <a href="/hostel/allot_room" >click here to Allot Room</a><br><br>
    <button class="btn btn-primary" type="submit" >Submit form</button>
  </div> 

</form> -->





<section class="content">
  
  <div class="container-fluid px-3">
    <div class="main-table">
    <ng-container [ngSwitch]="stepperOrientation | async">
      <!-- <div *ngSwitchCase="'horizontal'">Make your screen smaller to see a vertical stepper</div> -->
      <!-- <div *ngSwitchCase="'vertical'">Make your screen larger to see a horizontal stepper</div> -->
    </ng-container>
    
    <mat-stepper
      class="example-stepper"
      [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="firstFormGroup" label="Personal Details">
        <form [formGroup]="firstFormGroup">
          <div class="row">
          <div class="col-4">

          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Register No</mat-label>
            <input matInput placeholder="Register no" formControlName="Register_no" required>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Student Name</mat-label>
            <input matInput placeholder=" First name ,Last name" formControlName="Student_name" required>
          </mat-form-field></div>

          <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select  formControlName="Gender" required>
              <mat-option  value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Others">Others</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      

        <div class="col-4">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Admission date</mat-label>
            <input matInput type="date" placeholder=" Admission_date" formControlName="Admission_date" required>
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Religion</mat-label>
            <mat-select  formControlName="Religion" required>
              <mat-option  value="ISLAM">ISLAM</mat-option>
              <mat-option value="HINDU">HINDU</mat-option>
              <mat-option value="CHRISTIAN">CHRISTIAN</mat-option>
            </mat-select>          
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select  formControlName="Category" required>
              <mat-option  value="SC">SC</mat-option>
              <mat-option value="GENERAL">GENERAL</mat-option>
              <mat-option value="OBC">OBC</mat-option>
            </mat-select>
          </mat-form-field></div>

          

          

          

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Current Class / Department</mat-label>
            <mat-select  formControlName="Current_Class" required>
              <mat-option  value="First year - B TECH">First year - B TECH</mat-option>
              <mat-option value="Second year - B TECH">Second year - B TECH</mat-option>
              <mat-option  value="Third year - B TECH">Third year - B TECH</mat-option>
              <mat-option  value="Fourth year - B TECH">Fourth year - B TECH</mat-option>
              <mat-option value="First year - MCA">First year - MCA</mat-option>
              <mat-option value="Second year - MCA">Second year - MCA</mat-option>
            </mat-select>
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder=" Email" formControlName="Email" required>
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Blood Group</mat-label>
            <mat-select  formControlName="Blood_Group" required>
              <mat-option  value="A+">A+</mat-option>
              <mat-option value="AB+">AB+</mat-option>
              <mat-option value="A-">A-</mat-option>
              <mat-option  value="AB-">AB-</mat-option>
              <mat-option value="B+">B+</mat-option>
              <mat-option value="B-">B-</mat-option>
              <mat-option value="O+">O+</mat-option>
              <mat-option value="O-">O-</mat-option>
            </mat-select>
          </mat-form-field></div>

         
          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>date Of Birth</mat-label>
            <input matInput type="date" placeholder=" date_of_birth" formControlName="date_of_birth" required>
          </mat-form-field></div>
          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Contact Number</mat-label>
            <input matInput type="number" placeholder=" c_number" formControlName="c_number" required>
          </mat-form-field></div>
          

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Id Proof Type</mat-label>
            <mat-select  formControlName="id_proof_type" required>
              <mat-option  value="Aadhar">aadhar</mat-option>
              <mat-option value="License">License</mat-option>
              <mat-option value="Passport">Passport</mat-option>
              <mat-option value="VoterId">Voter Id</mat-option>
            </mat-select>
          </mat-form-field></div>

          <section class="example-section">
            <label class="example-margin">Mess status:</label>
            <mat-radio-group>
              <mat-radio-button class="example-margin" value="after">Yes</mat-radio-button>
              <mat-radio-button class="example-margin" value="before">No</mat-radio-button>
            </mat-radio-group>
          </section>

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
          </div>
          
        </form>
      </mat-step>
     

      <mat-step [stepControl]="secondFormGroup" label="Personal address">
        <form [formGroup]="secondFormGroup">
          <div class="row">
          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Father name</mat-label>
            <input matInput type="text" placeholder=" Father name" formControlName="Father_name" required>
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Mother name</mat-label>
            <input matInput type="text" placeholder=" Mother name" formControlName="Mother_name" required>
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Guardian name</mat-label>
            <input matInput type="text" placeholder=" Guardian name" formControlName="Guardian_name" required>
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Guardian Contact No</mat-label>
            <input matInput type="text" placeholder=" Guardian Contact No" formControlName="Guardian_contact_no" required>
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Occupation</mat-label>
            <input matInput type="text" placeholder=" Occupation" formControlName="Occupation" required>
          </mat-form-field></div>

          <div class="col-4">
            <mat-form-field class="w-100" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput type="text" placeholder=" Address" formControlName="Address" required>
          </mat-form-field></div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup" label="Allot Room">
        <form [formGroup]="thirdFormGroup">
        
          <div class="col-5">
              <mat-form-field class="w-100" appearance="fill">
              <mat-label>Select Block</mat-label>
              <mat-select  formControlName="Select_block" required>
                <mat-option  value="Block_A">Block A</mat-option>
                <mat-option value="Block_B">Block B</mat-option>
                <mat-option value="Block_C">Block C</mat-option>
                <mat-option value="Block_D">Block D</mat-option>
              </mat-select>
            </mat-form-field></div>

            <div class="col-5">
              <mat-form-field class="w-100" appearance="fill">
              <mat-label>Current Class / Department</mat-label>
              <mat-select  formControlName="Current_Class" required>
                <mat-option  value="First year - B TECH">First year - B TECH</mat-option>
                <mat-option value="Second year - B TECH">Second year - B TECH</mat-option>
                <mat-option  value="Third year - B TECH">Third year - B TECH</mat-option>
                <mat-option  value="Fourth year - B TECH">Fourth year - B TECH</mat-option>
                <mat-option value="First year - MCA">First year - MCA</mat-option>
                <mat-option value="Second year - MCA">Second year - MCA</mat-option>
              </mat-select>
            </mat-form-field></div>
            <button mat-button matStepperNext (click)="allot()">Allot</button>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button >Submit</button>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-stepper>
    </div>
  </div>

</section>


   

   

<!-- <mat-form-field appearance="fill">
            <mat-label>Student Photo</mat-label>
            <input matInput type="file" placeholder="Choose File" formControlName="Student_photo" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>id Proof Photo</mat-label>
            <input matInput type="file" placeholder=" Choose File" formControlName="id_photo" required>
          </mat-form-field> -->

<!-- <mat-form-field appearance="fill">
            <div class="form-check">
              <mat-label>Mess status</mat-label>
            <input matInput class="form-check-input" type="checkbox" value="" formControlName="Mess_status"  required>
            <mat-label matInput class="form-check-label" for="invalidCheck2">
              Tick if mess included?
           </mat-label></div>
          </mat-form-field> -->



          




















   


