<ng-container matColumnDef="selected">
  <th mat-header-cell *matHeaderCellDef class="text-center">
    <mat-label> Mark all as </mat-label>
    <mat-radio-group aria-label="Select an option" class="mx-3">
      <mat-radio-button
        class="min-width-radio-button radio-border-radius"
        [ngClass]="item.class"
        *ngFor="
          let item of [
            { code: 1, value: 'P' },
            { code: 0, value: 'A' },
            { code: 2, value: 'E' }
          ]
        "
        [value]="item.code"
        (change)="MarkAllChecked($event)"
      >
        {{ item.value }}
      </mat-radio-button>
    </mat-radio-group>
  </th>
  <td mat-cell *matCellDef="let row" class="text-center">
    <mat-radio-group
      aria-label="Select an option"
      class="d-flex justify-content-center"
    >
      <mat-radio-button
        class="min-width-radio-button radio-border-radius"
        [ngClass]="item.class"
        *ngFor="let item of row.AttendanceType"
        [value]="item.code"
        [checked]="item.selected"
        (change)="AttendanceChangeHandler($event, row)"
      >
        {{ item.value }}
      </mat-radio-button>
    </mat-radio-group>
  </td>
</ng-container>


MarkAllChecked(event: MatRadioChange) {
  (this.dataSource.data as AttendanceStudents[]).map((AttendanceItems) =>
    AttendanceItems['AttendanceType'].forEach((type) => {
      if (type.code === event.value) {
        type.selected = true;
        AttendanceItems['AttendanceSelectedCode'] = event.value;
      } else type.selected = false;
    })
  );
}


AttendanceChangeHandler(event: MatRadioChange, row: AttendanceStudents) {
  row['AttendanceType'].map((type) => {
    if (type.code === event.value) {
      type.selected = !type.selected;
      row['AttendanceSelectedCode'] = event.value;
    } else type.selected = false;
  });
}