@import "mixins";

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  width: calc(100% - var(--sidebar-width));
  // width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid #dadce0;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 18px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}


.divider {
  height: auto;
  width: 1px;
  background-color: var(--border-color);
}

.header-menu-title {
  padding-left: 7px;
}

.header-menu-item {
  padding: 10px;
  cursor: pointer;
}

.header-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
}