
<form>
    <div class="s">

<div class="mb-10">
  <label class="form-label">Register Number </label>
  <input type="number" class="form-control" formControlName="reg_no" aria-describedby="emailHelp">
</div>
<div class="mb-10">
  <label class="form-label">Hosteler Name </label>
  <input type="text" class="form-control" formControlName="hosteler_name">
</div>

<div class="mb-10">
    <label class="form-label">Mess bill Month/Period </label>
    <input type="text" class="form-control" formControlName="Contact_no">
  </div>


<div class="mb-10"> 
    <label class="form-label">Mess charge</label>
    <input type="number" class="form-control" formControlName="mess_charge" aria-describedby="emailHelp">
  </div>

<br>
<button type="submit" class="btn btn-primary" >Submit</button>
</div>
</form>