<div class="mainbody">
  <div class="d-flex justify-content-between align-items-center">
    <span class="grey-inter-bold-24 schedule-title "> Out Pass </span>
  </div>



<div class="a">
<a routerLink="/hostel/outpass/addoutpass/0"> <button class="btn btn-primary">Add</button></a>
</div><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">NO</th>
      <th scope="col">reg_no</th>
      <th scope="col">hosteler_name</th>
      <th scope="col">Contact_no</th>
      <th scope="col">date_of_outpass</th>
      <th scope="col">time_of_departure</th>
      <th scope="col">return_time</th>
      <th scope="col">reason_outpass</th>
      <th scope="col">ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datas1">
      <th scope="row">{{item.id}}</th>
      <td>{{item.reg_no}}</td>
      <td>{{item.hosteler_name}}</td>
      <td>{{item.Contact_no}}</td>
        <td>{{item.date_of_outpass}}</td>
        <td>{{item.time_of_departure}}</td>
        <td>{{item.return_time}}</td>
        <td>{{item.reason_outpass}}</td>

        <!-- <td>  <button type="button" class="btn btn-danger" (click)="Edit(item.id)">
              
          Edit</button><button>Delete</button></td> -->
        
        <td> <a routerLink="/hostel/outpass/editoutpass/{{item.id}}"><button>Edit</button></a> <button>Delete</button></td>
    </tr>
  </tbody>
</table>
</div>