
<form>
    <div class="s">

<div class="mb-10">
  <label class="form-label">Register Number </label>
  <input type="number" class="form-control" formControlName="reg_no" aria-describedby="emailHelp">
</div>
<div class="mb-10">
  <label class="form-label">Hosteler Name </label>
  <input type="text" class="form-control" formControlName="hosteler_name">
</div>

<div class="mb-10">
    <label class="form-label">Contact Number </label>
    <input type="number" class="form-control" formControlName="Contact_no">
  </div>


<div class="mb-10"> 
    <label class="form-label">Date of Outpass</label>
    <input type="date" class="form-control" formControlName="date_of_outpass" aria-describedby="emailHelp">
  </div>

  <div class="mb-10"> 
    <label class="form-label">Time of departure</label>
    <input type="time" class="form-control" formControlName="time_of_departure" aria-describedby="emailHelp">
  </div>

  <div class="mb-10"> 
    <label class="form-label">Expected time of return</label>
    <input type="time" class="form-control" formControlName="return_time" aria-describedby="emailHelp">
  </div>

  <div class="mb-10"> 
    <label class="form-label">Reason for Outpass</label>
    <input type="text" class="form-control" formControlName="reason_outpass" aria-describedby="emailHelp">
  </div>



<br>
<button type="submit" class="btn btn-primary" >Submit</button>
</div>
</form>