.s{
    height: 400px;
    width: 400px;
    margin-left: 400px;
    margin-top: 90px;
    }
    
    .b{
    
        display: block;
        margin: 0 auto;
    align-self: center;
    
    }
    
    .mainbody{
        margin-top: 100px;
        margin-left: 100px;
    }
    .a{
        align-items: center;
        margin-left: 1000px;
    }
    
    