<form [formGroup]="registrationForm" (ngSubmit)="onsub()">
 
    <!-- <form [formGroup]="registrationForm" (ngSubmit)="onsub()"> -->
        <div class="s">
    
    <!-- <div class="mb-10">
      <label class="form-label">Asset No </label>
      <input type="number" class="form-control" formControlName="Asset_No" aria-describedby="emailHelp">
    </div> -->
    <div class="mb-10">
      <label class="form-label"> Asset Name</label>
      <input type="text" class="form-control" formControlName="Asset_name">
      <label  *ngIf="f['Asset_name'].errors && f['Asset_name'].errors['required'] && submitted">Enter Asset name</label>

    </div>
    
    <div class="mb-10">
        <label class="form-label">Asset type </label>
        <label  *ngIf="f['Asset_type'].errors && f['Asset_type'].errors['required'] && submitted">choose Asset type</label>

        <!-- <input type="date" class="form-control" formControlName="Asset_type"> -->
        <select class="form-select" formControlName="Asset_type" required>
          <option  value="Furniture">Furniture</option>
          <!-- <option value="Kitchen facilities">Kitchen facilities</option> -->
          <option value="Shared facilities">Shared facilities</option>
          <option value="Electronics">Electronics</option>
        </select>
      </div>
    
      <div class="mb-10">
        <label class="form-label">Asset quantity</label>

        <input type="number" class="form-control" formControlName="Asset_quantity">
        <label  *ngIf="f['Asset_quantity'].errors && f['Asset_quantity'].errors['required'] && submitted">Enter Asset quantity</label>

      </div>

    
    <div class="mb-10"> 
        <label class="form-label">Minimum required qty</label>
        <label  *ngIf="f['Minimum_required_qty'].errors && f['Minimum_required_qty'].errors['required'] && submitted">Enter quantity</label>
 
        <input type="number" class="form-control" formControlName="Minimum_required_qty" >
      
    </div>
    <br>
    <div class="mat-dialog-actions" align="end">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  



    </div>
      </form>
      
      
