<form [formGroup]="registrationForm" (ngSubmit)="onsub()">
 
    <!-- <form [formGroup]="registrationForm" (ngSubmit)="onsub()"> -->
        <div class="s">
    
    <!-- <div class="mb-10">
      <label class="form-label">Asset No </label>
      <input type="number" class="form-control" formControlName="Asset_No" aria-describedby="emailHelp">
    </div> -->

    <div class="mb-10">
      <label class="form-label"> Asset Tag No</label>
      <input type="text" class="form-control" formControlName="Asset_Tag_No">
      <label  *ngIf="f['Asset_Tag_No'].errors && f['Asset_Tag_No'].errors['required'] && submitted">Enter Asset no</label>

    </div>

    <div class="mb-10">
      <label class="form-label"> Asset Name</label>
      <input type="text" class="form-control" formControlName="Asset_name">
      <mat-error  *ngIf="registrationForm.get('Asset_name')!.hasError('required') && submitted">Enter Asset name</mat-error>

    </div>
    
    <div class="mb-10">
        <label class="form-label">Asset type </label>
        <label  *ngIf="f['Asset_type'].errors && f['Asset_type'].errors['required'] && submitted">choose Asset type</label>

        <!-- <input type="date" class="form-control" formControlName="Asset_type"> -->
        <select class="form-select" formControlName="Asset_type" required>
          <option  value="Furniture">Furniture</option>
          <!-- <option value="Kitchen facilities">Kitchen facilities</option> -->
          <option value="Shared facilities">Shared facilities</option>
          <option value="Electronics">Electronics</option>
        </select>
      </div>
    
      <div class="mb-10">
        <label class="form-label">Asset quantity</label>

        <input type="number" class="form-control" formControlName="Asset_quantity">
        <label  *ngIf="registrationForm.get('Asset_quantity')!.hasError('required')">Enter Asset quantity</label>

      </div>

    
    <div class="mb-10"> 
        <label class="form-label">Description</label>
        <label  *ngIf="f['Descriptions'].errors && f['Descriptions'].errors['required'] && submitted">Enter Description</label>
 
        <input type="text" class="form-control" formControlName="Descriptions" >
      
    </div>
    <br>
    <div class="mat-dialog-actions" align="end">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  



    </div>
      </form>
      
      
