

<form [formGroup]="registrationForm" (ngSubmit)="onsub()">

  <h1 mat-dialog-title>Room Vacate</h1>
  <div mat-dialog-content>
      <div class="s">
    
    <div class="mb-10">
      <label class="form-label">Hosteler Name </label>
      <input type="text" class="form-control" formControlName="hosteler_name" aria-describedby="emailHelp">
    </div>
    <div class="mb-10">
      <label class="form-label">Application date </label>
      <input type="date" class="form-control" formControlName="Application_date">
    </div>
    
    <div class="mb-10">
        <label class="form-label">Leave form </label>
        <input type="date" class="form-control" formControlName="Leave_form">
      </div>
      <div class="mb-10">
        <label class="form-label">Leave till </label>
        <input type="date" class="form-control" formControlName="Leave_till">
      </div>
    
    
    <div class="mb-10"> 
        <label class="form-label">Reason</label>
        <input type="text" class="form-control" formControlName="Reason" aria-describedby="emailHelp">
      </div>
    
      <div class="mb-10"> 
        <label class="form-label">Visiting person</label>
        <input type="text" class="form-control" formControlName="Visiting_person" aria-describedby="emailHelp">
      </div>
    
      <div class="mb-10"> 
        <label class="form-label">Guardian details</label>
        <input type="text" class="form-control" formControlName="Guardian_details" aria-describedby="emailHelp">
      </div>
    
      <br>
      
    </div>
    </div>
    
    <div class="mat-dialog-actions" align="end">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
    </form>


