<div class="dialogue-body">
  <div class="row m-0 align-items-center justify-content-between mb-3">
    <span class="bodyFont-inter-semiBold-16">
      {{ this.data.val ? "Edit" : "Add" }} Room</span
    >
  </div>
  <form [formGroup]="AddCognitiveLevelFG">
    <div class="form-row mb-1">
      <mat-form-field appearance="outline" class="col-12 pl-0 mb-2">
        <mat-label class=""> Room Name </mat-label>
        <input matInput type="text" formControlName="Room_name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-6 pl-0 mb-2">
        <mat-label class="">Block name</mat-label>
        <input matInput type="text" formControlName="Block_name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6 pl-0 mb-2">
        <mat-label class="">Floor</mat-label>
        <input matInput type="number" formControlName="Floor" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6 pl-0 mb-2">
        <mat-label class="">Total Space</mat-label>
        <input matInput type="number" formControlName="Total_space" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6 pl-0 mb-2">
        <mat-label class="">Available Space</mat-label>
        <input matInput type="number" formControlName="Available_space" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-6 pl-0 mb-2">
        <mat-label class="">photo</mat-label>
        <input matInput type="file" formControlName="photo" />
      </mat-form-field>

    </div>
  </form>
  <div class="d-flex row m-0 justify-content-end mt-3">
    <button mat-flat-button class="cancel-button button mr-2" mat-dialog-close>
      Cancel
    </button>
    <button mat-flat-button class="submit-button" (click)="onSubmit()">
      {{ this.data.val ? "Update" : "Submit" }}
    </button>
  </div>
</div>