
<form [formGroup]="registrationForm" (ngSubmit)="onsub()">
  <h1 mat-dialog-title>Add Rooms </h1>
  <div class="s">
    
<div class="mb-10">
<label class="form-label">Room Name </label>
<input type="text" class="form-control" formControlName="Room_name" aria-describedby="emailHelp">
</div>
<div class="mb-10">
  <label for="validationDefault04" class="mb-10">Block Name</label>
  <select class="form-select" formControlName="Block Name" required>
    <option  value="Block_A">Block A</option>
    <option value="Block_B">Block B</option>
    <option value="Block_C">Block C</option>
    <option  value="Block_D">Block D</option>
  
  </select></div>
<div class="mb-10">
  <label class="form-label">Floor </label>
  <input type="text" class="form-control" formControlName="Floor">
</div>


<div class="mb-10"> 
  <label class="form-label">Total Space</label>
  <input type="number" class="form-control" formControlName="Total_space" aria-describedby="emailHelp">
</div>

<div class="mb-10"> 
  <label class="form-label">Available Space</label>
  <input type="number" class="form-control" formControlName="Available_space" aria-describedby="emailHelp">
</div>

<!-- <div class="mb-10"> 
  <label class="form-label">photo</label>
  <input type="file" class="form-control" formControlName="photo"  (change)="onFileSelect($event)" aria-describedby="emailHelp">
</div> -->

<div class="mb-10"> 
  <label class="form-label">photo</label>
  <input type="file" class="form-control" formControlName="photo"   aria-describedby="emailHelp">
</div>


<br>
<button type="submit" class="btn btn-primary" >Submit</button>
</div>
</form>