<section class="content">
   <div class="container-fluid px-1">
   <div class="d-flex" style="flex-wrap: wrap;gap: 10px;">
    <div class="card w-50 m-auto" *ngFor="let item of rooms">
        <img src="../../../../assets/lottie-files/room 2.jpg " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
           {{
            item.Room_name
           }}
          </li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
   </div>
   </div>
    
</section>