<!-- <section class="content">
   <div class="container-fluid px-1">
   <div class="d-flex" style="flex-wrap: wrap;gap: 10px;">
    <div class="card w-50 m-auto" *ngFor="let item of rooms">
        <img src="../../../../assets/lottie-files/room 2.jpg " class="card-img-top" alt="...">
        


        <div >
          <table border="3">
              <thead>
                <tr>
                  <th scope="col">Room_name</th>
                  <th scope="col">Block_name</th>
                  <th scope="col">Floor</th>
                  <th scope="col">Total_space</th>
                  <th scope="col">Available_space</th>
                  <th scope="col">photo</th>
                  
                  
                 
                 
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let a of datas1">
                    {{ a.Room_name }}
                    <td>{{ a.Block_name}}</td>
                    <td>{{ a.Floor }}</td>
                    <td>{{ a.Total_space}}</td>
                    <td>{{ a.Available_space}}</td>
                    <td>{{ a.photo}}</td>
                    
            
            
                    </tr>
              </tbody>
          </table>
          </div>









      </div>
   </div>
   </div>
    
</section> -->