@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadowinfo) {
    -webkit-box-shadow: $shadowinfo;
    -moz-box-shadow: $shadowinfo;
    -ms-box-shadow: $shadowinfo;
    box-shadow: $shadowinfo;
}

@mixin transform($transform) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin three-dots-overflow() {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin navbar-link-color($textcolor, $navbarcolor, $opacity) {

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:active,
    .navbar-brand:focus {
        color: $textcolor;
    }

    .nav>li>a:hover,
    .nav>li>a:focus,
    .nav .open>a,
    .nav .open>a:hover,
    .nav .open>a:focus {
        background-color: transparentize($navbarcolor, $opacity);
    }

    .nav>li>a {
        color: $textcolor;
    }

    .bars {
        float: left;
        padding: 10px 20px;
        font-size: 22px;
        color: $textcolor;
        margin-right: 10px;
        margin-left: -10px;
        margin-top: 4px;
    }

    .bars:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
}


// Icon button

$dark: rgba(0, 0, 0, 0.8);
$light: #efefef;
$color: #b3e5fc;

@mixin btn($left, $top) {
    position: absolute;
    width: 60px;
    height: 60px;
    top: $top;
    left: $left;
    transition-duration: 0.5s;
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 28px;
    background-color: $dark;
}

@mixin icon-before($height, $width, $top, $left) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    content: "";
    top: $top;
    left: $left;
}

@mixin icon-after($height, $width, $top, $left) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    content: "";
    top: $top;
    left: $left;
}