/* Typography Styles  */
h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-button,
.text-title {
    font-family: "Inter", sans-serif !important;
    color: rgba(var(--tcs-theme-on-background), var(--tcs-high-emphasis-opacity));
}

.text-color-base {
    color: rgba(var(--tcs-theme-on-background), var(--tcs-high-emphasis-opacity));
}

.text-color-disabled {
    color: rgba(var(--tcs-theme-on-background),
            var(--tcs-disabled-opacity)) !important;
}

.text-color-medium {
    color: rgba(var(--tcs-theme-on-surface), var(--tcs-medium-emphasis-opacity));
}

.text-title {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
}

.text-h1 {
    font-size: 6rem !important;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: -0.015625em !important;
    font-family: "Inter", sans-serif;
}

.text-h2 {
    font-size: 3.75rem !important;
    font-weight: 500;
    line-height: 4.5rem;
    letter-spacing: -0.0083333333em !important;
    font-family: "Inter", sans-serif;
}

.text-h3 {
    font-size: 3rem !important;
    font-weight: 500;
    line-height: 3.5rem;
    letter-spacing: normal !important;
    font-family: "Inter", sans-serif;
}

.text-h4 {
    font-size: 2.125rem !important;
    font-weight: 500;
    line-height: 2.625rem;
    letter-spacing: 0.0073529412em !important;
    font-family: "Inter", sans-serif;
}

.text-h5 {
    font-size: 1.5rem !important;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: normal !important;
    font-family: "Inter", sans-serif;
}

.text-h6 {
    font-size: 1.25rem !important;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.0125em !important;
    font-family: "Inter", sans-serif;
}

.text-subtitle-1 {
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.009375em !important;
    font-family: "Inter", sans-serif;
}

.text-subtitle-2 {
    font-size: 0.875rem !important;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: 0.0071428571em !important;
    font-family: "Inter", sans-serif;
}

.text-body-1 {
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.03125em !important;
    font-family: "Inter", sans-serif;
}

.text-body-2 {
    font-size: 0.875rem !important;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.0178571429em !important;
    font-family: "Inter", sans-serif;
}

.text-caption {
    font-size: 0.75rem !important;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0333333333em !important;
    font-family: "Inter", sans-serif;
}

.text-button {
    font-size: 0.875rem !important;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: 0.0892857143em !important;
    font-family: "Inter", sans-serif;
}

/* Font weights */
.font-bold {
    font-weight: 700 !important;
}

.font-normal {
    font-weight: 400 !important;
}

.font-light {
    font-weight: 300 !important;
}

.font-medium {
    font-weight: 500 !important;
}

.font-semibold {
    font-weight: 600 !important;
}

.font-extrabold {
    font-weight: 800 !important;
}

.font-black {
    font-weight: 900 !important;
}

/* font-sizes  */
.text-xs {
    font-size: 0.75rem !important
        /* 12px */
    ;
    line-height: 1rem !important
        /* 16px */
    ;
}

.text-sm {
    font-size: 0.875rem !important
        /* 14px */
    ;
    line-height: 1.25rem !important
        /* 20px */
    ;
}

.text-base {
    font-size: 1rem !important
        /* 16px */
    ;
    line-height: 1.5rem !important
        /* 24px */
    ;
}

.text-lg {
    font-size: 1.125rem !important
        /* 18px */
    ;
    line-height: 1.75rem !important
        /* 28px */
    ;
}

.text-xl {
    font-size: 1.25rem !important
        /* 20px */
    ;
    line-height: 1.75rem !important
        /* 28px */
    ;
}

.text-2xl {
    font-size: 1.5rem !important
        /* 24px */
    ;
    line-height: 2rem !important
        /* 32px */
    ;
}

.text-3xl {
    font-size: 1.75rem !important
        /* 28px */
    ;
    line-height: 2.25rem !important
        /* 36px */
    ;
}