<!-- <ng-container matColumnDef="selected">
  <th mat-header-cell *matHeaderCellDef class="text-center">
    <mat-label> Mark all as </mat-label>
    <mat-radio-group aria-label="Select an option" class="mx-3">
      <mat-radio-button
        class="min-width-radio-button radio-border-radius"
        [ngClass]="item.class"
        *ngFor="
          let item of [
            { code: 1, value: 'P' },
            { code: 0, value: 'A' },
            { code: 2, value: 'E' }
          ]
        "
        [value]="item.code"
        (change)="MarkAllChecked($event)"
      >
        {{ item.value }}
      </mat-radio-button>
    </mat-radio-group>
  </th>
  <td mat-cell *matCellDef="let row" class="text-center">
    <mat-radio-group
      aria-label="Select an option"
      class="d-flex justify-content-center"
    >
      <mat-radio-button
        class="min-width-radio-button radio-border-radius"
        [ngClass]="item.class"
        *ngFor="let item of row.AttendanceType"
        [value]="item.code"
        [checked]="item.selected"
        (change)="AttendanceChangeHandler($event, row)"
      >
        {{ item.value }}
      </mat-radio-button>
    </mat-radio-group>
  </td>
</ng-container>


MarkAllChecked(event: MatRadioChange) {
  (this.dataSource.data as AttendanceStudents[]).map((AttendanceItems) =>
    AttendanceItems['AttendanceType'].forEach((type) => {
      if (type.code === event.value) {
        type.selected = true;
        AttendanceItems['AttendanceSelectedCode'] = event.value;
      } else type.selected = false;
    })
  );
}


AttendanceChangeHandler(event: MatRadioChange, row: AttendanceStudents) {
  row['AttendanceType'].map((type) => {
    if (type.code === event.value) {
      type.selected = !type.selected;
      row['AttendanceSelectedCode'] = event.value;
    } else type.selected = false;
  });
} -->










<section class="content">
  <div class="container-fluid px-3">
<div class="mainbody">
  <span class="grey-inter-bold-24 schedule-title"
    >Coursewise Attendance Entry</span
  >
  <div class="main-table">
    <div class="mb-3">
      <span class="greyMain-rubik-medium-18">Mark Attendance</span>
    </div>
    <form [formGroup]="markAttendanceGroup" class="formArr">
      <div class="d-flex  col-12">
        <mat-form-field
          appearance="outline"
          class="col-6"
        >
          <mat-label class="">Date</mat-label>
          <input
            matInput
            [matDatepicker]="dp"
            formControlName="Date"
          />
          <mat-datepicker-toggle matSuffix [for]="dp" class="datepicker-icon">
          </mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
​
<div class="flex-grow-1">
  <!-- <label for="validationDefault04">Block Name</label>
  <select class="form-select" formControlName="Block" required>
    <option  value="Block_A">Block A</option>
    <option value="Block_B">Block B</option>
    <option value="Block_C">Block C</option>
    <option  value="Block_D">Block D</option>
  
  </select> -->
  <mat-form-field appearance="outline" class="w-100 ml-2">
    <mat-label>Block Name</mat-label>
    <mat-select formControlName="Block" name="food">
      
      <mat-option *ngFor="let block of blocks" [value]="block">
        {{block}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <button
type="button"
mat-flat-button
color="primary"
class="button-fill-blue d-flex align-items-center ml-2 mt-1"
(click)="MarkAttendance()"
>
<mat-icon>add</mat-icon>
<span class="white-rubik-normal-14"> Save </span>
</button>
</div>

      </div>
​
    

   


    <table class="table mt-3" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="NO">
        <th mat-header-cell *matHeaderCellDef>NO</th>
        <td mat-cell *matCellDef="let row; let i = index" class="text-left">
          {{ i + 1 }}
        </td>

    

      </ng-container>
      <ng-container matColumnDef="reg_no">
       <th mat-header-cell *matHeaderCellDef mat-sort-header>
         reg no
       </th>
       <td mat-cell *matCellDef="let row; let i = index">
         {{ row.reg_no }}
       </td>
     </ng-container>

 <ng-container matColumnDef="hosteler_name">
   <th mat-header-cell *matHeaderCellDef mat-sort-header>
     Hosteler Name 
   </th>
   <td mat-cell *matCellDef="let row; let i = index">
     {{ row.hosteler_name }}
   </td>
 </ng-container>

 <ng-container matColumnDef="isPresent">
   <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">isPresent</th>
   <td mat-cell *matCellDef="let row; let i = index">
     <!-- {{ row.isPresent }} -->

     <mat-radio-group
     aria-label="Select an option"
     class="d-flex justify-content-center"
   >
     <mat-radio-button
     checked="row.isPresent === 'Y'"
       class="min-width-radio-button radio-border-radius"
       value="1" 
       (change)="AttendanceChangeHandler($event,row)"
     >
       Present
     </mat-radio-button>
     <mat-radio-button
     checked="row.isPresent === 'N'"
     class="min-width-radio-button radio-border-radius ml-2"
     value="0"   
     (change)="AttendanceChangeHandler($event,row)" 
   >
     Absent
   </mat-radio-button>
   </mat-radio-group>
   </td>
 </ng-container>
 <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
            class="bg-grey-8-greyMain"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="no-results" [attr.colspan]="displayedColumns.length">
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <span style="color: var(--border-color); margin-top: 0.75rem"
                  >No Record Found</span
                >
              </div>
            </td>
          </tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
 
    </table>

  </form>
  </div>
</div>

</div></section>
