
<form>
    
    <div class="s">

        <div class="mb-10"> 
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="Name" aria-describedby="emailHelp">
          </div>

          <div class="mb-10"> 
            <label class="form-label">Room no</label>
            <input type="text" class="form-control" formControlName="Room_no" aria-describedby="emailHelp">
          </div>

          <div class="mb-10"> 
            <label class="form-label">Attendance status</label>
            <input type="text" class="form-control" formControlName="Attendance_status" aria-describedby="emailHelp">
          </div>

          <br>
<button type="submit" class="btn btn-primary" >Update</button>


    </div>
</form>


