.s{
    height: 400px;
    width: 400px;
    margin-left: 400px;
    margin-top: 90px;
    }


    .custom-button {
        border-radius: 4px;
        padding: 8px 16px;
        color: var(--primaryBlue);
        border: none;
        text-align: center;
      }