@import "variables";
@import "helpers";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--white);
    width: var(--sidebar-width);
    overflow-y: auto;
    box-shadow: none;

    border-right: 1px solid var(--border-color);

    figure.college-logo {
        width: auto;
        height: 30px;
        margin-block: 0;
        margin-left: 35px;
    }

    figure.college-logo>img {
        height: inherit;
        max-width: 100%;
    }

    &[data-closed="true"] {
        .list {
            .list-item-container {
                .list-item {
                    height: auto;
                    width: calc(var(--sidebar-width) - 24px);
                    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);

                    .list-item-title {
                        opacity: 0;
                    }
                }
            }

            .sub-item-container {
                pointer-events: inherit;

                .sub-item {
                    border-left: 1px solid transparent !important;

                    &.active {
                        &::after {
                            left: -3px;
                        }
                    }
                }
            }
        }
    }

    &[data-closed="false"] {
        .list {
            .list-item-container {
                .list-item {
                    width: calc(var(--sidebar-width) - 24px);
                    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);

                    .list-item-title {
                        transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
                        opacity: 1;
                    }
                }

                .sub-item-container {
                    &[data-expanded="false"] {
                        width: 40px;
                        border-radius: 24px;
                        margin: 0 16px;
                        padding: 0px 12px 0px 16px;

                        .sub-item {
                            border-left: 1px solid transparent;

                            .submenu-list-item-title {
                                opacity: 0;
                            }
                        }
                    }

                    &[data-expanded="true"] {
                        width: inherit;
                        padding: 0px 12px 0px 16px;
                        border-radius: 0 24px 24px 0;
                        margin: 0 16px;
                        display: flex;
                        flex-direction: column;

                        .sub-item {
                            .submenu-list-item-title {
                                opacity: 1;
                                color: var(--sidebar-secondary-color);
                            }

                            &.active {
                                .submenu-list-item-title {
                                    color: #1a73e8;
                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    left: -1.6px;
                                    width: 2.1px;
                                    height: 100%;
                                    background-color: var(--primary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    a.title {
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--primary-dark-color);
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        pointer-events: none;
        display: inline-block;
        width: 100%;
    }

    .list {
        margin: 13px 0;

        .list-item-container {
            display: flex;
            flex-direction: column;

            .list-item {
                background-color: var(--sidebar-inactive-color);
                user-select: none;

                &.active {
                    background-color: var(--primary);
                }

                &:not(.active) {
                    &:hover {
                        background-color: var(--sidebar-inactive-color-hover);
                    }

                    span {
                        color: var(--sidebar-secondary-color);
                    }
                }

                display: flex;
                align-items: center;
                -ms-flex-align: center;
                cursor: pointer;
                line-height: 20px;
                border-radius: 6px;
                margin: 0 12px;
                padding: 8px;

                svg {
                    display: inline;
                    flex-shrink: 0;
                    pointer-events: none;

                    &.active {
                        fill: var(--white);
                    }

                    &:not(.active) {
                        fill: var(--sidebar-secondary-color);
                    }
                }

                .list-item-title {
                    color: var(--white);
                    letter-spacing: rem(0.15px);
                    font-weight: 500;
                    padding-left: 11px;
                    opacity: 0;
                    pointer-events: none;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    font-size: 0.83rem !important;
                    line-height: 1.25rem !important;
                }
            }

            .sub-item-container {
                background-color: var(--sidebar-inactive-color);
                display: flex;
                flex-direction: column;
                width: 24px;
                -ms-flex-align: center;
                cursor: pointer;
                display: flex;
                line-height: 20px;
                border-radius: 24px;
                overflow: hidden;
                transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);

                .sub-item {
                    position: relative;
                    border-left: 1px solid var(--border-color);
                    padding: 4px;

                    .submenu-list-item-title {
                        font-size: 0.83rem !important;
                        line-height: 1.25rem !important;
                        font-weight: 500;
                        padding-left: 19px;
                        opacity: 0;
                        pointer-events: none;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
                    }
                }
            }
        }
    }
}