<form [formGroup]="registrationForm" (ngSubmit)="onsub()">
 
    
        <div class="s">
    
    <!-- <div class="mb-10">
      <label class="form-label">Asset No </label>
      <input type="number" class="form-control" formControlName="Asset_No" aria-describedby="emailHelp">
    </div> -->
    <div class="mb-10">
      <label class="form-label"> Block Name</label>
      <!-- <input type="text" class="form-control" formControlName="Block_name"> -->

      <select class="form-select" formControlName="Block_name" required>
        <option  value="Block_A">Block A</option>
        <option value="Block_B">Block B</option>
        
      </select>
      <!-- <label  *ngIf="f['Asset_name'].errors && f['Asset_name'].errors['required'] && submitted">Enter Asset name</label> -->

    </div>
    
    <div class="mb-10">
        <label class="form-label">Floor </label>
        <!-- <label  *ngIf="f['Asset_type'].errors && f['Asset_type'].errors['required'] && submitted">choose Asset type</label> -->

        <!-- <input type="text" class="form-control" formControlName="Floor"> -->


        <select class="form-select" formControlName="Floor" required>
          <option  value="Ground">Ground</option>
          <option value="First">First</option>
          <option value="Second">Second</option>
        </select>
      </div>
    
      <div class="mb-10">
        <label class="form-label">Number of Rooms</label>

        <input type="number" class="form-control" formControlName="Number_of_Rooms">
        <!-- <label  *ngIf="f['Asset_quantity'].errors && f['Asset_quantity'].errors['required'] && submitted">Enter Asset quantity</label> -->

      </div>

      <div class="mb-10">
        <label class="form-label">Asset Type </label>
        <!-- <label  *ngIf="f['Asset_type'].errors && f['Asset_type'].errors['required'] && submitted">choose Asset type</label> -->


        <select class="form-select" formControlName="Asset_type" required>
          <option  value="Furnitures">Furnitures</option>
          <option value="Electronics">Electronics</option>
          <option value="Shared_fecilities">Shared fecilities</option>
        </select>
      </div>
    

      <div class="mb-10"> 
        <label class="form-label">Asset name</label>
        <!-- <label  *ngIf="f['Minimum_required_qty'].errors && f['Minimum_required_qty'].errors['required'] && submitted">Enter quantity</label> -->
 
        <input type="text" class="form-control" formControlName="Asset_name">
      
    </div>
    <div class="mb-10"> 
        <label class="form-label">Minimum required Asset qty</label>
        <!-- <label  *ngIf="f['Minimum_required_qty'].errors && f['Minimum_required_qty'].errors['required'] && submitted">Enter quantity</label> -->
 
        <input type="number" class="form-control" formControlName="Minimum_required_qty" >
      
    </div>
    <br>
    <div class="mat-dialog-actions" align="end">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  



    </div>
      </form>
      
      

